[submodule "agent/third_party/llama.cpp"]
	path = agent/third_party/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "newAgent/third_party/nlohmann_json"]
	path = newAgent/third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "newAgent/third_party/llama.cpp"]
	path = newAgent/third_party/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
